<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview treeview-single">
                <a href="#List/Customer">
                    <i class="ma material-icons">contacts</i>
                    <span class="treeview-single"> Clients</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Sales Order">
                    <i class="ma material-icons">shopping_cart</i> 
                    <span class="treeview-single"> Commandes</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Item">
                    <i class="fa fa-cubes"></i>
                    <span class="treeview-single"> Produits</span>
                </a>
            </li>
            <li class="treeview treeview-single">
                <a href="#List/Delivery%20Note">
                    <i class="ma material-icons">local_shipping</i> 
                    <span class="treeview-single"> Bon de Livraison</span>
                </a>
            </li>

            <li class="treeview ">
                <a href="#modules/CRM">
                    <i class="ma material-icons">record_voice_over</i>
                    <span> CRM</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Lead">
                            <i class="fa_bullet fa fa-circle-o"></i> Prospect</a>
                    </li>
                    <li>
                        <a href="#List/Opportunity">
                            <i class="fa_bullet fa fa-circle-o"></i> Opportunité</a>
                    </li>
                    <li>
                        <a href="#List/Contact">
                            <i class="fa_bullet fa fa-circle-o"></i> Contact</a>
                    </li>
                </ul>
            </li>
            <li class="treeview ">
                <a href="#">
                    <i class="ma material-icons">account_balance</i>
                    <span> Finance</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#Tree/Account">
                            <i class="fa_bullet fa fa-circle-o"></i> Plan comptable</a>
                    </li>
                    <li>
                        <a href="#query-report/Accounts Payable">
                            <i class="fa_bullet fa fa-circle-o"></i> Comptes Créditeurs</a>
                    </li>
                    <li>
                        <a href="#query-report/Accounts Receivable">
                            <i class="fa_bullet fa fa-circle-o"></i> Comptes Débiteurs</a>
                    </li>
                    <li>
                        <a href="#query-report/Balance Sheet">
                            <i class="fa_bullet fa fa-circle-o"></i> Bilan</a>
                    </li>
                    <li>
                        <a href="#query-report/Cash Flow">
                            <i class="fa_bullet fa fa-circle-o"></i> Flux de Trésorerie</a>
                    </li>
                    <li>
                        <a href="#query-report/Profit and Loss Statement">
                            <i class="fa_bullet fa fa-circle-o"></i> Compte de Résultat</a>
                    </li>
                    <li>
                        <a href="#query-report/Gross Profit">
                            <i class="fa_bullet fa fa-circle-o"></i> Bénéfice Brut</a>
                    </li>
                    <li>
                        <a href="#List/Budget">
                            <i class="fa_bullet fa fa-circle-o"></i> Budget</a>
                    </li>
                    <li>
                        <a href="#modules/Accounts">
                            <i class="fa_bullet fa fa-circle-o"></i> Plus...</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="ma material-icons">attach_money</i>
                    <span> Comptes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a href="#List/Sales Order">
                            <i class="fa_bullet fa fa-circle-o"></i> Commande vente</a>
                    </li>
                    <li>
                        <a href="#List/Sales Invoice">
                            <i class="fa_bullet fa fa-circle-o"></i> Facture de vente</a>
                    </li>
                    <li>
                        <a href="#List/Supplier">
                            <i class="fa_bullet fa fa-circle-o"></i> Fournisseur</a>
                    </li>
                    <li>
                        <a href="#List/Purchase Order">
                            <i class="fa_bullet fa fa-circle-o"></i> Commande achat</a>
                    </li>
                    <li>
                        <a href="#List/Purchase Invoice">
                            <i class="fa_bullet fa fa-circle-o"></i> Facture d’Achat</a>
                    </li>
                    <li>
                        <a href="#List/Payment Entry">
                            <i class="fa_bullet fa fa-circle-o"></i> Paiement</a>
                    </li>
                    <li>
                        <a href="#List/Payment Request">
                            <i class="fa_bullet fa fa-circle-o"></i> Requête de Paiement</a>
                    </li>
                </ul>
            </li>
            <li class="treeview treeview-single">
                <a href="#modules/Selling">
                    <i class="ma material-icons">settings</i>
                    <span class="treeview-single"> Réglages</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<div class="overlay">
    <div>